

header{
    background-color: bisque;
    text-decoration: none;
}
body{
    background-color: gray;
}
#content{
    background-color: beige;
    margin-left: 15%;
    margin-right: 15%;

}
#content p{
    background-color: darkorchid;
    padding: 5px;
    margin: 5px;
}
footer{
    background-color: rgb(87, 85, 85);

}


@media screen {
    header{
        display: flex;
        flex-direction: row;
    }
    #content{
        display: flex;
        flex-direction: column;
    }
    
}
#main-nav li {
    list-style-type: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom:10px;
    border: 1px solid black;
}