

header{
    background-color: #0d1321;
    text-decoration: none;
}
body{
    background-color: #1d2d44;
}
#content{
    background-color: #748cab;
    margin-left: 15%;
    margin-right: 15%;

}
#content p{
    background-color: #3e5c76;
    padding: 5px;
    margin: 5px;
}
footer{
    background-color: #0d1321;

}

.hide-small {
    display: none;
}
#main-nav li:hover {
    background-color: lightcoral;
}
@media screen {
    header{
        display: flex;
        flex-direction: row;
    }
    #content{
        display: flex;
        flex-direction: column;
    }
    .hide-small {
        display: block;
    }
}
#main-nav li {
    list-style-type: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom:10px;
    border: 1px solid black;
}
header {
    align-items:center;
    text-align:center;
    display:flex;
}
#hamburger div {
    width: 30px;
    height: 5px;
    background-color: lightgrey;
    margin: 6px 0;
}

.parallax {
    height: 100%;
    opacity: 0.5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}